* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: auto;
  background-color: #F5FAFE;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

button:focus, input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: #ffffff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-top__menu-button {
  display: none;
}

.navbar-top__search {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-bottom {
  background-color: #0a223d;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  padding: 31px 0;
}

.navbar-menu__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}

.search__input {
  width: 350px;
  height: 100%;
  padding-left: 23px;
  padding-right: 75px;
  background-color: #f5fafe;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65px;
  border: none;
  background-color: #ec1f46;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.logo {
  width: 177px;
}

.breadcrumb {
  background-color: #F5FAFE;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 18px 0;
  margin: 0;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: '/';
  margin-right: 4px;
}

.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding-top: 18px;
  padding-bottom: 70px;
  background-color: #F5FAFE;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
  background-color: #ec1f46;
  width: 70px;
  height: 20px;
  color: #ffffff;
  padding: 0;
}

.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}

.hotel-info__description {
  margin: 5px 0;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.offer {
  text-align: center;
  padding-top: 3px;
  font-size: 10px;
  line-height: 13px;
  background-color: #ec1f46;
  border-radius: 3px;
  color: #ffffff;
}

.rating {
  width: 65px;
  height: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #ec1f46;
  border-radius: 4px;
}

.rating__text {
  font-size: 8px;
  line-height: 10px;
}

.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .logo {
    width: 132px;
    height: 18px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin-left: auto;
    max-width: 340px;
  }
  .navbar-bottom {
    height: 60px;
  }
  .navbar-menu {
    padding-top: 22px;
    padding-bottom: 23px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .navbar__user {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .container__search__input {
    width: 340px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 85%;
  }
  .navbar {
    height: 70px;
  }
  .navbar__search, .navbar-menu, .navbar__user {
    display: none;
  }
  .navbar-bottom {
    background-color: #ffffff;
  }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16px;
    height: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .stars {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 99px;
    height: 14px;
  }
}
/*# sourceMappingURL=style.css.map */