@media (max-width: 1200px)
  .container
    max-width: 960px
    margin: auto
  .hotel
    &-grid
      padding-right: 0
    &-slider
      width: 590px
  .card
    width: 230px
    height: 230px
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
    height: 18px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px
    &-bottom 
      height: 60px
    &-menu
      padding-top: 22px
      padding-bottom: 23px
      &__link
        font-size: 12px
        line-height: 15px
    &__user
      margin-left: auto
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 700px
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        max-width: 580px
    &__title
      font-size: 30px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 338px
    height: 250px
@media (max-width: 768px)
  .container
    width: 95%
    &__search
      &__input
        width: 340px
  .hotel
    &-slider
      width: 100%
      height: 400px
  .booking
    width: 340px
  .map
    width: 340px
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 95%
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &-wrapper
      width: 100%
@media (max-width: 755px)
  .hotel
    padding-bottom: 40px
    &-right
      flex-direction: column
  .booking
    width: 100%
    margin-bottom: 20px
    &__button
      width: 100%
  .map
    width: 100%
  .reviews
    padding-bottom: 50px
  .activities
    &__title
      font-size: 18px
      margin-bottom: 36px
    &-wrapper
      flex-direction: column
  .card
    width: 100%  
    &-one
      order: 1
    &-two
      order: 3
    &-three
      order: 2
    &-four
      order: 4
@media (max-width: 700px)
  .container
    width: 90%
  .navbar
    height: 70px
    &__search, &-menu, &__user
      display: none
    &-bottom
      background-color: $light
  .menu
    &-button
      display: flex
      width: 16px
      height: 12px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: transparent
      cursor: pointer
      padding: 0
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__offer
        order: -1
        margin-left: 0
  .newsletter
    &-wrapper
      align-items: flex-start
      width: 90%
  .reviews
    &__title
      font-size: 18px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50% 
          margin-left: -65px
          transform: translate(-50%, 0) 
        &--next
          right: 50% 
          margin-right: -65px
          transform: translate(50%, 0) 
@media (max-width: 576px)
  .container
    width: 92%
  .logo
    width: 99px
    height: 14px
  .hotel
    padding-bottom: 40px
    &__slider
      margin-bottom: 20px
  .hotel
    &-slider 
      height: 250px
  .subscribe
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      width: 92%
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100% 
@media (max-width: 400px) 
  .container
    width: 98%
  .hotel
    &-slider 
      height: 179px
  .card
    margin-bottom: 20px
  .activities
    &__title
      margin-left: 10px
    &-wrapper
      padding: 0 10px
      
  
